<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vidyahaat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VidyahaatApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.LiveChannelActivity"/>
        <activity
            android:name=".activities.PlayVideoContentActivity"
            android:label="@string/title_activity_play_video_content"
            android:theme="@style/Theme.VidyahaatApp.NoActionBar" />
        <activity android:name=".activities.ChannelsActivity" />
        <activity android:name=".activities.AboutUsActivity" />
        <activity android:name=".activities.PaymentActivity" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.UploadAssignmentActivity" />
        <activity android:name=".activities.ContactUsActivity" />
        <activity android:name=".fragments.TestResultActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" />
    </application>

</manifest>